

body {
    margin: 0;
}

.winner-banner {
    position: fixed;
    margin: 150px;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 5rem;
    line-height: 200%;
    background-color: limegreen;
    z-index: 9;
}