body {
    margin: 0;
    box-sizing: border-box;
}

.winner-banner {
    position: fixed;
    margin: 1em;
    width: 100vw;
    text-align: center;
    color: #000;
    font-size: 5rem;
    line-height: 200%;
    background-color: limegreen;
    z-index: 9;
}